<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="http://cesbo.com/download/astra/ui/5.64/app.js?dd7d82b0"></script>
    <link rel="stylesheet" href="http://cesbo.com/download/astra/ui/5.64/app.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
    <title>Astra 4 Control Panel</title>
  </head>
  <body>
        <ul class="nav">
          <a class="navbar-brand pl-5" href="/">
            <p>Astra Control Panel</p>
          </a>
          <li class="nav-item">
            {% url 'home' as url_home %}
            <a class="nav-link {% if url_home == request.path %}active{% endif %}" href="{{url_home}}">Панель</a>
          </li>
          <li class="nav-item">
            {% url 'tables' as url_tables %}
            <a class="nav-link {% if url_home == request.path %}active{% endif %}" href="{{url_tables}}">Таблицы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://www.flysat.com/satlist.php">SatList</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Настройки
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Перезагрузить</a>
              {% url 'conf' as url_conf %}
              <a class="dropdown-item" href="{{url_conf}}">Конфиг</a>
              {% url 'streamadd' as url_streamadd %}
              <a class="dropdown-item" href="{{url_streamadd}}">Добавить поток</a>
              {% url 'tuneradd' as url_tuneradd %}
              <a class="dropdown-item" href="{{url_tuneradd}}">Добавить тюнер</a>
              {% url 'camadd' as url_camadd %}
              <a class="dropdown-item" href="{{url_camadd}}">Софткам</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Блок с контентом-->
    <div class="col col">
      <div class="container-fluid mt-2">
        {% block content %}{% endblock %}
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>