{% extends 'base.html' %}
{% block content %}
{% if messages  %} 
<div class="alert alert-success mt-2" role="alert">
  {% for m in messages %}
    {{m}}
  {% endfor %}
</div>
{% endif %}
<div class="main-content"><div>
<div class="card-stack">
  {% for tun in list_tuner%}
    <a class="card card-true-{% if tun.bitrate < 10 %}0{%else%}2{% endif %}" href="{% url 'edittun' tun.id %}">
      <div style="width: 150px;" class="card-name" title="{{tun.title}}">{{tun.title|truncatechars:"10"}}</div>      
      <div class="dvb-status row monospace card-status">
        <div class="text">S</div>
        <div class="progress signal-level col-expand">
          <div class="progress-level" style="width: {{tun.bitrate}}%;"></div>
          <div class="progress-overlay"></div>
        </div>
          <div class="text">{{tun.bitrate}}%</div>
        </div>
        <div class="dvb-status row monospace card-status">
          <div class="text">Q</div>
          <div class="progress signal-level col-expand">
            <div class="progress-level" style="width: {{tun.snr}}%;"></div>
            <div class="progress-overlay"></div>
          </div>
        <div class="text">{{tun.snr}}%</div>
      </div>
      <div class="card-status monospace">
        <span class="text">ber:{{tun.ber}} unc:{{tun.unc}}</span>
      </div>
  {% endfor %} 
  {% for str in list_strm%}
  <a class="card stream-spts card-true-{% if str.bitrate < 21 %}0{%else%}2{% endif %}" href="{% url 'editstr' str.id %}">
    <div class="card-name" title="{{str.title}}">{{str.title|truncatechars:"10"}}</div>
    <div class="card-image"></div>
    <div class="card-status" title="{{str.output_u}}">
    <span style="width: 150px;" class="text onair {% if str.bitrate < 21 %} cc {% endif %} ">{{str.bitrate}} Kbit/s</span>
    </div>
  </a>
  {% endfor %} 
</div> 
</div></div>
<!-- 
    <h3> Softcam </h3>
        <table class="table table-striped mt-2">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Host</th>
                <th scope="col">User</th>
                <th scope="col">Key</th>
                <th scope="col">#</th>
              </tr>
            </thead>
            <tbody>
                {% for ng in list_cam%}
                      <tr>
                        <th scope="row"><a href="{% url 'editcam' ng.id %}">{{ng.name|truncatechars:"10"}}</a></th>
                        <td>{{ng.host}}</a></td>
                        <td>{{ng.user}}</td>
                        <td>{{ng.key}}</td>
                        <td>
                          <form id="delng{{ng.id}}" action="{% url 'delcam' ng.id %}" method="post"> {% csrf_token %} </form>
                            <a href="javascript:void()" style="color: crimson;" onclick="delete_question{{ng.id}}()">X</a>
                            <script>
                              function delete_question{{ng.id}}(){
                                if (confirm("Хорошо подумал?")) {
                                document.getElementById('delng{{ng.id}}').submit()
                                }
                              }
                            </script>
                        </td>
                      </tr>
                {% endfor %} 
            </tbody>
        </table> 
</div> 

<a class="card card-true-2" href="">
  <div class="card-name" title="#40E 1Multiplex">#40E 1Multiplex</div>
  <select class="card-action button icon icon-more small">
    <option></option>
    <option value="-3">Restart</option>
    <option value="-1">Disable</option>
    <option value="-2">Remove</option>
  </select>
  <div class="dvb-status row monospace card-status">
    <div class="text">S</div>
    <div class="progress signal-level col-expand">
      <div class="progress-level" style="width: 46%;"></div>
      <div class="progress-overlay"></div>
    </div><div class="text">46%</div>
  </div>
  <div class="dvb-status row monospace card-status">
    <div class="text">Q</div>
    <div class="progress signal-level col-expand">
      <div class="progress-level" style="width: 76%;"></div>
      <div class="progress-overlay"></div>
    </div>
    <div class="text">76%</div>
  </div>
  <div class="card-status monospace">
    <span class="text">ber:0 unc:0</span>
  </div>
</a>-->
{% endblock %}
