{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Новый Адаптер {% endblock %}
{% block content %}
{% if update %}
<div class="row">
<div class="col">
<h3 class="mt-2">Редактирование : <h3>
    <form id="update_data" method="post">
        {% csrf_token %}
        {% include 'includes/update_tun.html' %}
    </form>
<a class="btn btn-primary mt-2 float-right" href="{% url 'cameras' %}">Вернуться назад</a>
<button form="update_data" type="submit" class="btn btn-success mt-2">Обновить</button>
</div>
</div>
{% else %}
<div class="container-sm">
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'includes/update_tun.html' %}
  </form>
</div>
{% endif %}
{% endblock %}