{% load crispy_forms_tags %}
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">GENERAL</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">TRANSPONDER</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">LNB</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                {{ form.title|as_crispy_field }}
                {{ form.dvb_id|as_crispy_field }}
                {{ form.adapter_id|as_crispy_field }}
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                {{ form.signal_type|as_crispy_field }}
                {{ form.frequency|as_crispy_field }}
                {{ form.polarization|as_crispy_field }}
                {{ form.symbolrate|as_crispy_field }}
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                {{ form.lof1|as_crispy_field }}
                {{ form.lof2|as_crispy_field }}
                {{ form.slof|as_crispy_field }}
            </div>
          </div>
        <button type="submit" method="post" class="btn btn-outline-success float-left">Apply</button>
        <a href="/" class="btn btn-outline-dark float-right">Cancel</a>