{% load crispy_forms_tags %}
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">GENERAL</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Remap</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Service</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    {{ form.enable|as_crispy_field }}
    {{ form.title|as_crispy_field }}
    {{ form.stream_id|as_crispy_field }}
    {{ form.input_u|as_crispy_field}}
    {{ form.output_u|as_crispy_field }}
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    {{ form.set_map|as_crispy_field }}
    {{ form.set_pnr|as_crispy_field }}
    {{ form.set_tsid|as_crispy_field }}
  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
    {{ form.service_type|as_crispy_field }}
    {{ form.service_provider|as_crispy_field }}
    {{ form.service_name|as_crispy_field }}
  </div>
</div>
<button type="submit" method="post" class="btn btn-outline-success float-left">Apply</button>
<a href="/" class="btn btn-outline-dark float-right">Cancel</a>